*, body, html {
    cursor: url('../media/mouse/pointer.png') 0 0, auto;
}

a, button, .link-image, a:hover, button:hover {
    cursor: url('../media/mouse/click.png') 0 0, pointer;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-container {
    display: flex;
}

#right-box {
    background-color: #d0cb9e;
    background-image: url('../media/bg_photos/dirt.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#about-box {
    background-color: #929665;
    width: 80%;
    height: 250px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#skills-box {
    background-color: #929665;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.project-odd,
.project-even {
    background-color:#9cafa1;
    width: 80%;
    height: 250px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
}

.project-odd::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 250px;
    height: 250px;
    background-color: #929665;
    border-radius: 20px;
    z-index: 10;
}

.project-even::before {
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    width: 250px;
    height: 250px;
    background-color: #929665;
    border-radius: 20px;
    z-index: 10;
}

.right-shadow {
    width:80%;
    height: auto;
    display: block;
    margin: 0 auto -200px auto;
    z-index: 9999;
    position: relative;
}

#fire-image {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-21%);
    width: 955px;
    height: 550px;
    z-index: 911;
    margin: 0;
    padding: 0;
}
