body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-container {
    display: flex;
}

#right-box {
    background-color: #d0cb9e;
    background-image: url('../media/bg_photos/fire.png'), url('../media/bg_photos/dirt.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center top;
    background-size: contain, contain;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
