@font-face {
    font-family: 'Neirizi';
    src: url('fonts/neirizi-regular/Neirizi Regular.ttf') format('truetype');
}

#navigation-bar {
    background-color: #153333;
}

#navigation-items {
    margin: 0;
    padding: 0;
    list-style: none;       
    display: flex;        
    justify-content: space-around;
    height: 60px;
    font-family: 'Neirizi';
    font-size: 40px;
}

#navigation-items a {
    text-decoration: none;   
    color: #d0cb9e;
    display: block;
    margin-top: -10px;
}

#navigation-items a:hover { 
    color: #929665;          
}