@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#left-box {
    background-color: #505c4c;
    background-image: url('../media/bg_photos/smoke.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    position: relative;
}

#profile-image {
    padding-top: 80px;
    width: 45%;               
    height: auto;
    position: relative;
    z-index: 2;
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 70%;
}

#content-one {
    background-color: #d0cb9e;
    width: 115%;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-two {
    background-color: #929665;
    width: 115%;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-three {
    background-color: #9cafa1;
    width: 115%;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-image {
    width: 115%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: -135px;
    position: relative;
    z-index: 99;
}

#cloud-one {
    position: absolute;
    right: -180px;
    top: 40px;
    width: 500px;
    height: auto;
    z-index: 0;
}

#cloud-two {
    position: absolute;
    left: -250px;
    top: 130px;
    width: 500px;
    height: auto;
    z-index: 3;
}

#sword {
    position: absolute;
    left: -10px;
    top: 310px;
    width: 50%;
    height: auto;
    z-index: 100;
}

.left-text {
    font-family: "Asap", sans-serif;
    font-weight: 700; 
    font-size: 25px;
    color: #153333;
}

#link-items {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 70%;
    margin-top: -25px;
    margin-right: -30px;
    z-index: 101;
}

.link-image {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

#linkedin-button {
    background-image: url('../media/main/icons/linkedin.png');
}

#linkedin-button:hover {
    background-image: url('../media/main/icons/linkedin_hover.png');
}

#github-button {
    background-image: url('../media/main/icons/git.png');
}

#github-button:hover {
    background-image: url('../media/main/icons/git_hover.png');
}

#facebook-button {
    background-image: url('../media/main/icons/fb.png');
}

#facebook-button:hover {
    background-image: url('../media/main/icons/fb_hover.png');
}

.about-heading {
    font-family: "IM Fell English", serif;
    font-size: 50px;
    color: #153333;
    padding-top: 10px;
    margin: 0 0 12px 30px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 1px;
}

.about-body {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    color: #153333;
    line-height: 1.5;
    padding: 0 80px 15px 30px;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.skills-heading {
    font-family: "IM Fell English", serif;
    font-size: 50px;
    color: #153333;
    padding-top: 10px;
    margin: 0 0 8px 30px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 1px;
}

.skills-description {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    color: #153333;
    line-height: 1.4;
    padding: 0 80px 15px 30px;
    margin: -10px 0 15px 0;
    text-align: left;
}

.skills-list {
    font-family: "Asap", sans-serif;
    font-size: 16px;
    color: #153333;
    column-count: 2;
    column-gap: 40px;
    margin-left: 100px;
    margin-top: -30px;
    list-style-type: disc;
}